*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}
body{
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.chat-container{
    width:350px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 3px 420px #000000a9;
}

#messages{
    height: 350px;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 5px;
    margin-bottom: 10px;
}

.controls{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

input{
    width: 80%;
    height: 50px;
    padding: 15px;
}
button{
    width: 20%;
    height: 50px;

}